html {
	background-color: #b3b300;
}

body {
	margin-top: 2%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}

h1 {
	font-size: 32px;
	font-family: Verdana;
	margin-left: 5%;
	margin-top: 2%;
}