html {
	background-color: #1a53ff
}

body {
	margin-top: 2%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}

h1 {
	font-size: 32px;
	font-family: Verdana;
	margin-left: 5%;
	margin-top: 2%;
}

.tabs {
	margin-left: 5%;
	font-family: Verdana;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

#tab1 {
	background-color: #8c8c8c;
	color: white;
}

#tab2 {
	background-color: #8c8c8c;
	color: white;
}

.stick {
	background-color: #ffff66;
	position: sticky;
	top: 0;
	left: 50%;
	width: 200px;
	font-size: 10px;
	font-family: Verdana;
}	

.headers {
	font-size: 32px;
	font-family: Verdana;
	margin-left: 5%;
	margin-top: 2%;
}

.body {
	font-family: Georgia;
	margin: 5%;
}

.bodyImage {
	float: right;
	margin-right: 5%;
	height: 200px;
	width: 200px
}

.homework:link {
	color: blue;
	text-decoration: underline;
}

.homework:hover {
	color: blue;
	text-decoration: underline;
}

.homework:visited {
	color: purple;
	text-decoration: underline;
}

.php {
	margin-left: 2%;
	font-size: 10px;
}
