html {
	background-color: #333399;
	margin: 5%;
}

body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}

.tabs {
	margin: 5%;
}

#tab1 {
	background-color: #8c8c8c;
	color: white;
}

#tab2 {
	background-color: #8c8c8c;
	color: white;
}

h1 {
	font-size: 32px;
	font-family: Verdana;
	margin: 5%;
}

.body {
	font-family: Georgia;
	margin: 5%;
}

.bodyImage {
	float: right;
	margin-right: 5%;
}
